.balance {
  margin: 0 -8px;
  padding: 4px 9px 4px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(173, 176, 186, 0.2);
}

.balance__title{
  font-size: 12px;
  line-height: 2.75;
  color: #dedede;
}

.balance-state {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.balance-state__money {
  font-size: 16px;
  font-weight: bold;
}

.balance-state__percent {
  margin-left: 7px;
  padding: 4px 5px;
  font-size: 12px;
  font-weight: bold;
  background-color: #5dae00;
  border-radius: 2px;
}

.balance-state__currency {
  margin-left: 10px;

  svg {
    vertical-align: top;
  }
}