/.idea
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/app/config/parameters.yml
/bin/symfony_requirements
/node_modules
/bower_components
npm-debug.log