{% extends '@Control/layout.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>Balance: {{ balance|moneyFormat }}</li>
                    <li>Deposits: {{ deposits|moneyFormat }}</li>
                    <li>Cashouts: {{ cashouts|moneyFormat }}</li>
                    <li>Profitability: {{ profitability|number_format(2) }}% </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}