.form-content {
  margin: 54px 0 16px;
}

.form-content__change {
  margin: 24px 0 16px;
}

.field-block__field {
  width: 100%;
  height: 50px;
  padding: 8px 13px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.06;
  color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  border: solid 1px #504f55;
  background: transparent;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: #adb0ba;
  }
}

.field-block__change-field {
  background: rgba(38, 38, 43, 0.3);
  border: solid 1px rgba(173, 176, 186, 0.2);
}

.field-block__field::-webkit-input-placeholder {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.06;
  color: rgba(255, 255, 255, 0.3);
}

.field-block__field::-moz-placeholder {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.06;
  color: rgba(255, 255, 255, 0.3);
}

.field-block__field:-moz-placeholder {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.06;
  color: rgba(255, 255, 255, 0.3);
}

.field-block__field:-ms-input-placeholder {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.06;
  color: rgba(255, 255, 255, 0.3);
}

.field-block__field--currency {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.06;
  color: #ffffff;
}

.field-block__field--currency::-webkit-input-placeholder {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.06;
  color: #ffffff;
}
.field-block__field--currency::-moz-placeholder{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.06;
  color: #ffffff;
}
.field-block__field--currency:-moz-placeholder {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.06;
  color: #ffffff;
}
.field-block__field--currency:-ms-input-placeholder {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.06;
  color: #ffffff;
}

.field-block {
  position: relative;
  display: block;
  margin-bottom: 23px;

  .field-block__title {
    margin-bottom: 4px;
  }

  &:last-of-type {
    margin-bottom: 25px;
  }
}

.field-block__title {
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  color: #ffffff;

  &--password {
    display: flex;
    justify-content: space-between;
  }

  &--reset-password {
    color: #737276;
    text-decoration: underline;
  }
}

.field-block__change-title {
  font-weight: bold;
  font-size: 12px;
}

.field-block__pass-restore {
  font-size: 14px;
  line-height: 1.71;
  color: #737276;
  text-decoration: underline;
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.form-checkbox__field {
  display: none;
}

.form-checkbox__field:checked + .form-checkbox__text:before {
  content: url('../img/check.svg');
  background-position: 50% 50%;
}

.form-checkbox__link {
  text-decoration: underline;
}

.form-checkbox__descr {
  margin-top: 5px;
  line-height: 1.3;
}

.form-checkbox__text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 300;
  line-height: 1.29;

  &:before {
    content: '';
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: solid 1px #504f55;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
}

.field-block__password-container {
  position: relative;
}

.field-block__password-visible {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('../img/show-password.svg');
}

.form-content__button {
  width: 100%;
  margin-top: 24px;
}

.form-content__change-button {
  width: 70%;
  margin: 0 auto;
}


.invite {
  text-align: center;
}

.invite__link {
  font-size: 14px;
  color: #737276;
  text-decoration: underline;
}

.link__auth {
  font-size: 14px;
  color: #737276;
  text-decoration: underline;
  margin-right: 9px;
}

.back-s {
  display: inline-block;
  height: 12px;
  width: 13px;
  background-image: url('../img/back-s.svg');
}

.social__list {
  margin-top: 13px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  width: 34px;
  height: 34px;
  border-radius: 4px;
  border: solid 1px #504f55;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
}

.field-block__currency {
  position: absolute;
  top: 36px;
  right: 18px;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.06;
  color: #ffffff;
}

//select
.field-block__select {
  width: 100%;
  padding: 8px 31px 8px 13px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.06;
  color: #ffffff;
  background-color: transparent;
  border-radius: 4px;
  border: solid 1px #504f55;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none!important;
  background-image: url("../img/select-arrow.svg");
  background-position: 97% 48%;
  background-repeat: no-repeat;

  &:focus {
    outline: none;
    border-color: #adb0ba;
  }
}