.header {
  position: relative;
  padding: 10px 0 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #504f55;

}

.header__block {
  display: flex;
  align-items: center;

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }
}

.header__wallet {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  span {
    margin-left: 3px;
  }
}

.header__user {
  margin-left: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &:before {
    content: '';
    width: 1px;
    height: 30px;
    margin-right: 9px;
    background-color: rgba(173, 176, 186, 0.3);
  }
}

.header__user-img {
  width: 30px;
  height: 30px;
  background-image: url('../img/user.svg');
  
}

.header--desktop {
  display: none;
  height: 60px;
  padding: 0 20px 0;
}

.header__exit {
  margin-left: 10px;
}

.header__settings {
  margin-left: 20px;
}

.settings-img {
  width: 30px;
  height: 30px;
  background-image: url('../img/settings.svg');
}

.edit-img {
  width: 30px;
  height: 30px;
  background-image: url('../img/edit.svg');
}

.header__mail {
  height: 19px;
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  color: #dedede;
}