<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,700,700i&amp;subset=cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('build/fintobit/css/style.css') }}">
</head>
<script src="{{ asset('build/fintobit/js/scripts.min.js') }}"></script>
<body>
<div class="content-wrapper">
    <div class="content-main">
        <div class="content__main">
            <div class="header header--desktop">
                <div class="header__block">
                    <a class="logo-header" href="{{ path('fintobit.profile.index') }}">
                        <svg width="127px" height="33px" viewBox="0 0 127 33"  xmlns="http://www.w3.org/2000/svg">
                            <g id="symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="logo/fin-to-bit">
                                    <g id="logo/sign" transform="translate(2.000000, 7.000000)" fill="#88C154">
                                        <path d="M5.78212593,3.75678911 L9.24408826,9.77084087 L12.4655291,3.75678911 L5.78212593,3.75678911 Z M9.18748775,16.3834861 L15.8708909,16.3834861 L12.4089286,10.3694344 L9.18748775,16.3834861 Z M21.1913391,19.4664769 L4.05071504,19.4664769 L7.53514569,12.9613664 L0.461677801,0.673798343 L17.6021791,0.673798343 L14.1178712,7.17890887 L21.1913391,19.4664769 Z" id="logo-sign"></path>
                                    </g>
                                    <path d="M42.556,13.701 L42.556,16.319 L47.809,16.319 L47.809,18.92 L42.556,18.92 L42.556,23 L39.19,23 L39.19,11.1 L48.523,11.1 L48.523,13.701 L42.556,13.701 Z M49.704,11.1 L53.07,11.1 L53.07,23 L49.704,23 L49.704,11.1 Z M66.389,11.1 L66.389,23 L63.618,23 L58.365,16.659 L58.365,23 L55.067,23 L55.067,11.1 L57.838,11.1 L63.091,17.441 L63.091,11.1 L66.389,11.1 Z M70.902,13.769 L67.247,13.769 L67.247,11.1 L77.906,11.1 L77.906,13.769 L74.268,13.769 L74.268,23 L70.902,23 L70.902,13.769 Z M84.595,23.238 C83.3369937,23.238 82.206505,22.9716693 81.2035,22.439 C80.200495,21.9063307 79.4128362,21.1696714 78.8405,20.229 C78.2681638,19.2883286 77.982,18.2286726 77.982,17.05 C77.982,15.8713274 78.2681638,14.8116714 78.8405,13.871 C79.4128362,12.9303286 80.200495,12.1936693 81.2035,11.661 C82.206505,11.1283307 83.3369937,10.862 84.595,10.862 C85.8530063,10.862 86.983495,11.1283307 87.9865,11.661 C88.989505,12.1936693 89.7771638,12.9303286 90.3495,13.871 C90.9218362,14.8116714 91.208,15.8713274 91.208,17.05 C91.208,18.2286726 90.9218362,19.2883286 90.3495,20.229 C89.7771638,21.1696714 88.989505,21.9063307 87.9865,22.439 C86.983495,22.9716693 85.8530063,23.238 84.595,23.238 Z M84.595,20.45 C85.1956696,20.45 85.7396642,20.3083348 86.227,20.025 C86.7143357,19.7416653 87.0996652,19.3421692 87.383,18.8265 C87.6663347,18.3108308 87.808,17.71867 87.808,17.05 C87.808,16.38133 87.6663347,15.7891692 87.383,15.2735 C87.0996652,14.7578308 86.7143357,14.3583348 86.227,14.075 C85.7396642,13.7916653 85.1956696,13.65 84.595,13.65 C83.9943303,13.65 83.4503357,13.7916653 82.963,14.075 C82.4756642,14.3583348 82.0903347,14.7578308 81.807,15.2735 C81.5236652,15.7891692 81.382,16.38133 81.382,17.05 C81.382,17.71867 81.5236652,18.3108308 81.807,18.8265 C82.0903347,19.3421692 82.4756642,19.7416653 82.963,20.025 C83.4503357,20.3083348 83.9943303,20.45 84.595,20.45 Z M101.722,16.795 C102.402003,17.0330012 102.934665,17.4041641 103.32,17.9085 C103.705335,18.4128359 103.898,19.0219964 103.898,19.736 C103.898,20.7786719 103.478671,21.5833305 102.64,22.15 C101.801329,22.7166695 100.588675,23 99.002,23 L92.576,23 L92.576,11.1 L98.662,11.1 C100.180674,11.1 101.336663,11.3804972 102.13,11.9415 C102.923337,12.5025028 103.32,13.2589952 103.32,14.211 C103.32,14.7776695 103.181168,15.2848311 102.9035,15.7325 C102.625832,16.1801689 102.232003,16.534332 101.722,16.795 Z M95.908,13.531 L95.908,15.826 L98.22,15.826 C99.353339,15.826 99.92,15.4406705 99.92,14.67 C99.92,13.9106629 99.353339,13.531 98.22,13.531 L95.908,13.531 Z M98.73,20.569 C99.9086725,20.569 100.498,20.1666707 100.498,19.362 C100.498,18.5573293 99.9086725,18.155 98.73,18.155 L95.908,18.155 L95.908,20.569 L98.73,20.569 Z M105.249,11.1 L108.615,11.1 L108.615,23 L105.249,23 L105.249,11.1 Z M113.145,13.769 L109.49,13.769 L109.49,11.1 L120.149,11.1 L120.149,13.769 L116.511,13.769 L116.511,23 L113.145,23 L113.145,13.769 Z" id="FINTOBIT" fill="#FFFFFF"></path>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                {% if app.user %}
                    <div class="header-settings">
                        <div class="header-logo">
                            <a href="#" class="header__user">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                    <g fill="#DEDEDE" fill-rule="evenodd">
                                        <path fill-rule="nonzero"
                                              d="M18.774 15.521a5.32 5.32 0 0 0 1.249-3.458C20.023 9.25 17.962 7 15.443 7c-2.52 0-4.58 2.25-4.58 5.063 0 1.352.484 2.565 1.257 3.47C9.799 15.966 8 17.997 8 20.39v2.047c0 .338.229.563.573.563.343 0 .572-.225.572-.563V20.39c0-2.138 1.718-3.826 3.893-3.826h.347c.622.348 1.315.563 2.058.563.743 0 1.436-.215 2.059-.563h.345c2.176 0 3.893 1.688 3.893 3.826v2.047c0 .338.23.563.573.563.343 0 .573-.225.687-.563V20.39c0-2.428-1.855-4.476-4.226-4.869zM12 12c0-2.171 1.517-4 3.5-4S19 9.829 19 12c0 2.171-1.517 4-3.5 4S12 14.171 12 12z"/>
                                        <rect width="15" height="1" x="8" y="22" rx=".5"/>
                                    </g>
                                </svg>
                            </a>
                        </div>
                        <span href="#" class="header__mail">{{ app.user.username }}</span>
                        <a href="#" class="header__settings">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="30" viewBox="0 0 30 30">
                                <defs>
                                    <path id="a" d="M11 0H0v22h22V0z"/>
                                </defs>
                                <g fill="none" fill-rule="evenodd">
                                    <g transform="translate(4 4)">
                                        <mask id="b" fill="#fff">
                                            <use xlink:href="#a"/>
                                        </mask>
                                        <path fill="#FFF" d="M11.926 0h-1.96a1.33 1.33 0 0 0-1.311 1.108l-.272 1.59a8.461 8.461 0 0 0-1.494.629l-1.264-.91a1.348 1.348 0 0 0-.79-.252c-.363 0-.708.142-.961.399l-1.39 1.387a1.33 1.33 0 0 0-.145 1.714l.934 1.312a8.544 8.544 0 0 0-.612 1.502l-1.55.262A1.332 1.332 0 0 0 0 10.055v1.979c0 .652.47 1.208 1.112 1.317l1.585.271c.162.515.374 1.016.63 1.494l-.92 1.278a1.326 1.326 0 0 0 .14 1.71l1.392 1.391a1.351 1.351 0 0 0 1.746.148l1.292-.92c.464.244.95.442 1.452.598l.26 1.566A1.332 1.332 0 0 0 10.005 22h1.985c.652 0 1.208-.47 1.317-1.111l.266-1.568a8.724 8.724 0 0 0 1.498-.621l1.273.91c.229.166.505.253.79.253.363 0 .703-.142.96-.4l1.389-1.387c.459-.46.519-1.184.142-1.714l-.924-1.297a8.67 8.67 0 0 0 .62-1.498l1.569-.261a1.33 1.33 0 0 0 1.11-1.313v-1.96a1.343 1.343 0 0 0-1.125-1.343l-1.544-.261a8.659 8.659 0 0 0-.621-1.498l.924-1.293a1.329 1.329 0 0 0-.141-1.712l-1.39-1.389a1.347 1.347 0 0 0-1.745-.147l-1.278.91a8.644 8.644 0 0 0-1.553-.639l-.258-1.526A1.358 1.358 0 0 0 11.926 0m.002 1c.167 0 .309.119.336.284l.27 1.603c.06.356.329.626.674.728.473.139.945.332 1.402.573a1.026 1.026 0 0 0 1.072-.071l1.284-.915a.331.331 0 0 1 .429.041l1.398 1.398a.296.296 0 0 1 .03.383L17.85 6.39a.922.922 0 0 0-.044.979c.233.437.428.905.575 1.389.104.341.37.602.722.661l1.503.255c.293.05.395.176.395.325v2.002a.303.303 0 0 1-.253.299l-1.693.282a.86.86 0 0 0-.675.626 7.645 7.645 0 0 1-.586 1.423.93.93 0 0 0 .048.977l.972 1.365a.301.301 0 0 1-.033.389l-1.395 1.395a.337.337 0 0 1-.436.039l-1.275-.912a1.023 1.023 0 0 0-1.074-.072 7.685 7.685 0 0 1-1.36.559c-.338.104-.6.37-.66.721l-.256 1.513c-.05.293-.174.395-.322.395H9.994a.302.302 0 0 1-.298-.252l-.275-1.65a.927.927 0 0 0-.66-.726 7.672 7.672 0 0 1-1.317-.539 1.03 1.03 0 0 0-1.07.073l-1.3.924a.325.325 0 0 1-.427-.04L3.25 17.391a.298.298 0 0 1-.031-.384l.968-1.346a.928.928 0 0 0 .042-.993 7.493 7.493 0 0 1-.58-1.376c-.105-.339-.37-.601-.72-.661l-1.533-.261c-.293-.05-.395-.175-.395-.323v-2.003c0-.147.107-.273.252-.297l1.635-.276a.928.928 0 0 0 .726-.67 7.56 7.56 0 0 1 .566-1.389c.165-.312.163-.683-.043-.972l-.902-1.269c-.172-.241-.156-.401-.052-.504l1.407-1.403a.326.326 0 0 1 .233-.095c.072 0 .139.021.194.06l1.266.913a1.024 1.024 0 0 0 1.083.07 7.61 7.61 0 0 1 1.347-.565c.34-.104.602-.369.66-.72l.263-1.532c.05-.293.175-.395.322-.395H12" mask="url(#b)"/>
                                    </g>
                                    <path fill="#FFF" d="M14.9 11.415a3.795 3.795 0 0 0-3.793 3.792c0 2.093 1.7 3.793 3.793 3.793 2.092 0 3.792-1.7 3.792-3.793 0-2.092-1.7-3.792-3.792-3.792m0 1.105a2.692 2.692 0 0 1 2.688 2.687 2.691 2.691 0 0 1-2.688 2.688 2.69 2.69 0 0 1-2.688-2.688A2.691 2.691 0 0 1 14.9 12.52"/>
                                </g>
                            </svg>
                        </a>
                    </div>
                {% endif %}
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>