<div class="portfolio">
    <h2 class="portfolio__header">Portfolio</h2>
    <div class="portfolio__wrapper">
        <div class="portfolio__diagram">

        </div>
        <div class="portfolio__diagram-legend">
            <ul class="diagram-legend__list">
                {% for portfolioItem in portfolio %}
                    <li class="diagram-legend__list-item">
                        <div class="list-style__mark"></div>
                        <div class="list-item__title">{{ portfolioItem.currency }}</div>
                        <div class="list-item__line"></div>
                        <div class="list-item__value">{{ portfolioItem.percent }}%</div>
                    </li>
                {% endfor %}
                <li class="diagram-legend__list-item">
                    <div class="list-style__mark"></div>
                    <div class="list-item__title">bch/btc</div>
                    <div class="list-item__line"></div>
                    <div class="list-item__value">20%</div>
                </li>
            </ul>
        </div>
    </div>
</div>
