{% extends '@App/Info/info_layout.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>Balance: {{ balance|moneyFormat }}</li>
                    <li>Deposits: {{ deposits|moneyFormat }}</li>
                    <li>Cashouts: {{ cashouts|moneyFormat }}</li>
                    <li>Profitability: {{ profitability|number_format(2) }}% </li>
                </ul>
                <div class="schedule">
                    <style> /* set the CSS */
                        .line {
                            fill: none;
                            stroke: steelblue;
                            stroke-width: 2px;
                        }
                    </style>
                    <script src="https://d3js.org/d3.v4.min.js"></script>
                    <script>
                        var margin = {top: 20, right: 20, bottom: 20, left: 20},
                            width = 1200 - margin.left - margin.right,
                            height = 500 - margin.top - margin.bottom;

                        // parse the date / time
                        var parseTime = d3.timeParse("%Y-%m-%d");

                        // set the ranges
                        var x = d3.scaleTime().range([0, width]);
                        var y = d3.scaleLinear().range([height, 0]);

                        // define the line
                        var valueline = d3.line()
                            .x(function (d) {
                                return x(d.date);
                            })
                            .y(function (d) {
                                return y(d.balance);
                            });
                        // define the line
                        var valueline2 = d3.line()
                            .x(function (d) {
                                return x(d.date);
                            })
                            .y(function (d) {
                                return y(d.balance);
                            });

                        var svg = d3.select('.schedule').append('svg')
                            .attr("width", width + margin.left + margin.right)
                            .attr("height", height + margin.top + margin.bottom)
                            .append("g")
                            .attr("transform",
                                "translate(" + margin.left + "," + margin.top + ")");

                        function draw(data) {

                            // format the data
                            data.forEach(function (d) {
                                d.date = parseTime(d.date);
                            });

                            // sort years ascending
                            data.sort(function (a, b) {
                                return a["date"] - b["date"];
                            });

                            // Scale the range of the data
                            x.domain(d3.extent(data, function (d) {
                                return d.date;
                            }));
                            y.domain([0, d3.max(data, function (d) {
                                return Math.max(d.balance);
                            })]);

                            // Add the valueline path.
                            svg.append("path")
                                .data([data])
                                .attr("class", "line")
                                .attr("d", valueline);
                            // Add the valueline path.
                            svg.append("path")
                                .data([data])
                                .attr("class", "line")
                                .attr("d", valueline2);
                            // Add the X Axis
                            svg.append("g")
                                .attr("transform", "translate(0," + height + ")")
                                .call(d3.axisBottom(x));

                            // Add the Y Axis
                            svg.append("g")
                                .call(d3.axisLeft(y));
                        }

                        // Get the data
                        d3.json("/info/history.json", function (error, data) {
                            if (error) throw error;
                            draw(data);
                        });

                    </script>
                </div>

            </div>
        </div>
    </div>
{% endblock %}