{% if app.environment == 'dev' %}
    <div id="dev-tools">
        <button class="js-auto-fill">Авторега (password = 123)</button>
    </div>
    <script>
        function generateEmail() {
            var chars = 'abcdefghijklmnopqrstuvwxyz1234567890';
            var string = '';
            for (var i = 0; i < 5; i++) {
                string += chars[Math.floor(Math.random() * chars.length)];
            }
            return string + '@domain.com';
        }

        $(document).on('click', '.js-auto-fill', function () {
            var email = generateEmail();
            var password = 123;
            $('#registration_form_email').val(email);
            $('#registration_form_plainPassword_first').val(password);
            $('#registration_form_plainPassword_second').val(password);
        })
    </script>
{% endif %}