{% extends "@Fintobit/layout-auth-desktop.html.twig" %}


{% block content %}
    <a class="logo" href="{{ path('fintobit.auth.login') }}">
        <div class="main_logo"></div>
    </a>
    <div class="title title--main title--reset">
        <span class="title--reset">Password reset</span>
    </div>
    <div class="desktop-wrapper">
        <label class="field-block">
            <span class="field-block__title">Email</span>
            <input type="text" class="field-block__field" placeholder="workmail@gmail.com">
        </label>
        <a href="/recover-password-disabled.html" class="button button--action">Send</a>
    </div>
    <div class="auth__link">
        <a class="link__auth" href="{{ path('fintobit.index') }}">
            <div class="back-s"></div>
            Back to login
        </a>
    </div>
{% endblock %}