{% extends "src/Assets/fintobit/njc/layout-password.html" %}

{% block content %}

<div class="popup popup__change">
    <div class="popup-heading">
        <span class="popup-heading__title">Change password</span>
        <a href="/main.html" class="popup-heading__close">
            <img src="../../img/base/close.svg" alt="close">
        </a>
    </div>
    <div class="popup-content">
        <form class="form-content form-content__change">
            <label class="field-block field-block__change">
                <span class="field-block__title field-block__change-title">Current password</span>
                <input type="text" class="field-block__field field-block__change-field" name="email">
            </label>
            <label class="field-block">
                <span class="field-block__title field-block__change-title">New password</span>
                <input type="text" class="field-block__field field-block__change-field" name="email">
            </label>
            <button type="submit" class="button form-content__change-button button--action">Update password</button>
        </form>
    </div>
</div>


{% endblock %}