{% extends "src/Assets/fintobit/njc/layout-auth-desktop.html" %}

{% block content %}
<div class="success__message">
    <a class="close__icon" href="/auth.html"></a>
    <div class="success__text">A password recovery instruction<br>has been sent to your email.</div>
    <div class="success__link">
        <a class="success__link--auth" href="/auth.html">Back to login</a>
    </div>
</div>
<a class="logo" href="#">
    <div class="main_logo"></div>
</a>
<div class="title title--main title--reset">
    <span class="title--reset">Password reset</span>
</div>
<div class="desktop-wrapper">
    <label class="field-block">
        <span class="field-block__title">Email</span>
        <input type="text" disabled class="field-block__field" placeholder="workmail@gmail.com">
    </label>
    <a href="#" class="button button--action button--disabled">Send</a>
</div>
<div class="auth__link">
    <a class="link__auth" href="/auth.html">
        <div class="back-s"></div>
        Back to login
    </a>
</div>
{% endblock %}