{% extends "src/Assets/fintobit/njc/layout-admin.html" %}

{% block content %}

<div class="admins-header">
    <h1 class="admins-header__title">Users</h1>
</div>

<div class="table table--user-info">
    <div class="row row--heading row--user-info">
        <div class="cell cell--user-info cell--id">ID</div>
        <div class="cell cell--user-info cell--username">Username</div>
        <div class="cell cell--user-info cell--user-btc-balance">Total BTC balance</div>
        <div class="cell cell--user-info cell--exchange-balance">Exchange BTC balance</div>
    </div>
    <div class="row row--user-info">
        <div class="cell cell--user-info cell--id">1</div>
        <div class="cell cell--user-info cell--username">
            <a href="#" class="username-link">schism413@gmail.com</a>
        </div>
        <div class="cell cell--user-info cell--user-btc-balance">0.01600079 BTC</div>
        <div class="cell cell--user-info cell--exchange-balance">
            <a class="user-deposit__link" href="/user-deposit.html">Add deposit</a>
        </div>
    </div>
    <div class="row row--user-info">
        <div class="cell cell--user-info cell--id">8</div>
        <div class="cell cell--user-info cell--username">
            <a href="#" class="username-link">vigrom@dev.ru</a>
        </div>
        <div class="cell cell--user-info cell--user-btc-balance">4.92525126 BTC</div>
        <div class="cell cell--user-info cell--exchange-balance">
            <a class="user-deposit__link" href="/user-deposit.html">Add deposit</a>
        </div>
    </div>
    <div class="row row--user-info">
        <div class="cell cell--user-info cell--id">12</div>
        <div class="cell cell--user-info cell--username">
            <a href="#" class="username-link">mining@dev.ru</a>
        </div>
        <div class="cell cell--user-info cell--user-btc-balance">0.03551327 BTC</div>
        <div class="cell cell--user-info cell--exchange-balance">
            <a class="user-deposit__link" href="/user-deposit.html">Add deposit</a>
        </div>
    </div>
    <div class="row row--user-info">
        <div class="cell cell--user-info cell--id">32</div>
        <div class="cell cell--user-info cell--username">
            <a href="#" class="username-link">criptim@criptim.com</a>
        </div>
        <div class="cell cell--user-info cell--user-btc-balance">0.08248670 BTC</div>
        <div class="cell cell--user-info cell--exchange-balance">
            <a class="user-deposit__link" href="/user-deposit.html">Add deposit</a>
        </div>
    </div>
    <div class="row row--user-info">
        <div class="cell cell--user-info cell--id">6</div>
        <div class="cell cell--user-info cell--username">
            <a href="#" class="username-link">dev@dev.ru</a>
        </div>
        <div class="cell cell--user-info cell--user-btc-balance">0.00000000 BTC</div>
        <div class="cell cell--user-info cell--exchange-balance">
            <a class="user-deposit__link" href="/user-deposit.html">Add deposit</a>
        </div>
    </div>
    <div class="row row--user-info">
        <div class="cell cell--user-info cell--id">14</div>
        <div class="cell cell--user-info cell--username">
            <a href="#" class="username-link">lexusbrand@gmail.com</a>
        </div>
        <div class="cell cell--user-info cell--user-btc-balance">0.09745505 BTC</div>
        <div class="cell cell--user-info cell--exchange-balance">
            <a class="user-deposit__link" href="/user-deposit.html">Add deposit</a>
        </div>
    </div>
    <div class="row row--user-info">
        <div class="cell cell--user-info cell--id">9</div>
        <div class="cell cell--user-info cell--username">
            <a href="#" class="username-link">eupolubabkin@gmail.com</a>
        </div>
        <div class="cell cell--user-info cell--user-btc-balance">0.02863241 BTC</div>
        <div class="cell cell--user-info cell--exchange-balance">
            <a class="user-deposit__link" href="/user-deposit.html">Add deposit</a>
        </div>
    </div>
    <div class="row row--user-info">
        <div class="cell cell--user-info cell--id">23</div>
        <div class="cell cell--user-info cell--username">
            <a href="#" class="username-link">vasilijasin1965@gmail.com</a>
        </div>
        <div class="cell cell--user-info cell--user-btc-balance">1.00000000 BTC</div>
        <div class="cell cell--user-info cell--exchange-balance">
            <a class="user-deposit__link" href="/user-deposit.html">Add deposit</a>
        </div>
    </div>
    <div class="row row--user-info">
        <div class="cell cell--user-info cell--id">13</div>
        <div class="cell cell--user-info cell--username">
            <a href="#" class="username-link">artemka.newmail@yandex.ru</a>
        </div>
        <div class="cell cell--user-info cell--user-btc-balance">0.08394453 BTC</div>
        <div class="cell cell--user-info cell--exchange-balance">
            <a class="user-deposit__link" href="/user-deposit.html">Add deposit</a>
        </div>
    </div>
</div>
{% endblock %}