{% extends '@Control/layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mb-10">
            <div class="col-md-12">
                <a href="{{ path('control.bots.create') }}" class="btn btn-primary">Создать бота</a>
            </div>
        </div>
    </div>
{% endblock %}