{% extends '@Criptim/layout.html.twig' %}

{% block content %}
<div class="balance">
    <span class="balance__title">Ваш баланс:</span>
    <div class="balance-state">
        <span class="balance-state__money">15 100 ₽</span>
        <span class="balance-state__percent">+350%</span>
            <span class="balance-state__currency">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                    <g fill="none" fill-rule="evenodd">
                        <circle cx="15" cy="15" r="8.5" stroke="#DEDEDE"/>
                        <path fill="#DEDEDE" fill-rule="nonzero" d="M18.667 15.236c-.256-.3-.642-.506-1.158-.618.657-.304.946-.82.867-1.547a1.432 1.432 0 0 0-.242-.687 1.465 1.465 0 0 0-.546-.468 3.195 3.195 0 0 0-.748-.27 6.468 6.468 0 0 0-.927-.134V10h-1.02v1.47c-.176 0-.445.004-.807.012V10h-1.02v1.512c-.145.004-.36.006-.642.006l-1.403-.006v.983h.735c.335 0 .531.136.589.408v1.722c.044 0 .08.002.106.006h-.106v2.41c-.036.205-.164.307-.384.307h-.735l-.205 1.097h1.324l.364.003.357.003v1.53h1.02v-1.512c.186.004.455.006.808.006v1.506h1.02v-1.53c.361-.016.682-.046.962-.09.28-.044.549-.113.805-.207.256-.094.47-.21.642-.35.172-.14.314-.319.427-.535.112-.216.184-.465.215-.75.058-.555-.042-.983-.298-1.283zm-4.561-2.675a28.567 28.567 0 0 0 .619-.01 4.26 4.26 0 0 1 .384.016c.161.012.297.028.407.048.11.02.232.053.364.099.133.046.238.102.318.168.08.066.147.15.202.252a.725.725 0 0 1 .083.35c0 .113-.02.215-.06.307a.58.58 0 0 1-.179.23c-.079.063-.16.117-.245.162-.083.046-.19.083-.32.111-.13.028-.245.05-.342.066a3.071 3.071 0 0 1-.364.033l-.33.012a7.857 7.857 0 0 1-.309 0l-.228-.003v-1.841zm2.784 4.085a.843.843 0 0 1-.162.24.916.916 0 0 1-.262.18 2.368 2.368 0 0 1-.314.125c-.102.033-.224.06-.368.084a5.296 5.296 0 0 1-.765.075 9.588 9.588 0 0 1-.668.006l-.245-.003v-2.027l.314-.006a7.798 7.798 0 0 1 .884.012c.194.012.358.03.49.054s.277.06.434.111c.156.05.283.11.38.183a.923.923 0 0 1 .245.276c.067.112.1.24.1.384a.728.728 0 0 1-.063.306z"/>
                    </g>
                </svg>
            </span>
    </div>
</div>
<span class="title title--main">Моя доходность</span>
<ul class="tabs">
    <li class="tabs-item tabs-item--active"><a href="#" class="tabs-item__link">День</a></li>
    <li class="tabs-item"><a href="#" class="tabs-item__link">Неделя</a></li>
    <li class="tabs-item"><a href="#" class="tabs-item__link">Месяц</a></li>
</ul>
<div class="schedule"></div>
<a href="#" class="button button--action">Остановить торги</a>
<a href="#" class="button button--main">Мониторинг</a>
{% endblock %}